In [2]:
import requests

import pandas as pd
import seaborn as sns

### `Arkham Horror`
"Arkham Horror: The Card Game" es un juego de cartas cooperativo diseñado por Fantasy Flight Games. En el juego, los jugadores construyen mazos de cartas que representan a sus investigadores y sus habilidades. [...] Además, incluye un elemento de construcción de mazo entre escenarios.

----
### `Arkham Deck Builder`
ArkhamDB es un sitio web dedicado a Arkham HorrorEste sitio permite a los jugadores de Arkham Horror LCG construir y compartir mazos, así como explorar mazos creados por otros jugadores.

----
### `Sobre el Desafio`
En definitiva, es un juego de cartas que cuenta con una pagina donde estan todas las cartas disponibles. Claro esta que no tiene que ver en absoluto con sindrome metabolico, pero desde que empece con el tema de la programacion me intrigue en como se conseguia la informacion de los sitios, y hoy se respondio esa pregunta.

Basicamente utilice la `API` de la pagina arkhamdb.com para:
1. Tomar cartas individuales
2. Tomar colecciones de cartas
3. Tomar todas las cartas. En este caso ademas aplique filtros y logre, como pide la consigna, cierta informacion de los datos.

----
### Cartas Individuales

In [3]:
# Request
card_code = "01001"
_format = "json"

url = f"https://arkhamdb.com/api/public/card/{card_code}.{_format}"

card_response = requests.get(url)

In [4]:
# Filtrando los atributos de interes
current_card = card_response.json()

current_data_card = {attribute: value for attribute, value in current_card.items() 
                if (isinstance(value, int) or attribute == 'real_name')
                and not isinstance(value, bool)
                and attribute not in ['position', 'quantity', 'deck_limit']}

In [5]:
# Presentacion de la informacion
pd.Series(current_data_card)

real_name          Roland Banks
skill_willpower               3
skill_intellect               3
skill_combat                  4
skill_agility                 2
health                        9
sanity                        5
dtype: object

----
### Colecciones de Cartas

In [6]:
# Request
card_code = "Core"
_format = "json"

url = f"https://arkhamdb.com/api/public/cards/{card_code}.{_format}"

collection_response = requests.get(url)

In [7]:
# DataFrame
current_data_collection = pd.DataFrame(collection_response.json())

In [8]:
# Presentando atributos (columnas)
current_data_collection.columns

Index(['pack_code', 'pack_name', 'type_code', 'type_name', 'faction_code',
       'faction_name', 'position', 'exceptional', 'myriad', 'code', 'name',
       'real_name', 'subname', 'text', 'real_text', 'quantity',
       'skill_willpower', 'skill_intellect', 'skill_combat', 'skill_agility',
       'health', 'health_per_investigator', 'sanity', 'deck_limit',
       'real_slot', 'traits', 'real_traits', 'deck_requirements',
       'deck_options', 'flavor', 'illustrator', 'is_unique', 'permanent',
       'double_sided', 'back_text', 'back_flavor', 'octgn_id', 'url',
       'imagesrc', 'backimagesrc', 'duplicated_by', 'alternated_by', 'cost',
       'errata_date', 'skill_wild', 'slot', 'restrictions', 'subtype_code',
       'subtype_name', 'xp', 'tags', 'enemy_damage', 'enemy_horror',
       'enemy_fight', 'enemy_evade', 'encounter_code', 'encounter_name',
       'encounter_position', 'spoiler', 'doom', 'stage', 'back_name', 'clues',
       'shroud', 'victory', 'linked_to_code', 'linked_to_name', 'linked_card'],
      dtype='object')

In [9]:
# Creando los filtros para los atributos de interes
filter_type = current_data_collection['type_name'] == 'Investigator'
filter_data = current_data_card.keys()

In [10]:
# DataFrame filtrado
current_data_collection[filter_type][filter_data]

,real_name,skill_willpower,skill_intellect,skill_combat,skill_agility,health,sanity
0,Roland Banks,3.0,3.0,4.0,2.0,9.0,5.0
1,Daisy Walker,3.0,5.0,2.0,2.0,5.0,9.0
2,"""Skids"" O'Toole",2.0,3.0,3.0,4.0,8.0,6.0
3,Agnes Baker,5.0,2.0,2.0,3.0,6.0,8.0
4,Wendy Adams,4.0,3.0,1.0,4.0,7.0,7.0

----
### Todas las Cartas

In [11]:
# Request
card_codes = "Core"
_format = "json"

url = f"https://arkhamdb.com/api/public/cards/"
params = {'encounter': 0}

collection_response = requests.get(url, params=params).json()

In [12]:
df_without_encounters = pd.DataFrame(collection_response)

In [13]:
df_without_encounters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1533 entries, 0 to 1532
Data columns (total 78 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   pack_code                1533 non-null   object
 1   pack_name                1533 non-null   object
 2   type_code                1533 non-null   object
 3   type_name                1533 non-null   object
 4   subtype_code             141 non-null    object
 5   subtype_name             141 non-null    object
 6   faction_code             1533 non-null   object
 7   faction_name             1533 non-null   object
 8   position                 1533 non-null   int64
 9   exceptional              1533 non-null   bool
 10  myriad                   1533 non-null   bool
 11  code                     1533 non-null   object
 12  name                     1533 non-null   object
 13  real_name                1533 non-null   object
 14  text                     1526 non-null   object
 15  real_text                1530 non-null   object
 16  quantity                 1533 non-null   int64
 17  health_per_investigator  1533 non-null   bool
 18  deck_limit               1447 non-null   float64
 19  real_slot                1085 non-null   object
 20  traits                   1458 non-null   object
 21  real_traits              1458 non-null   object
 22  is_unique                1533 non-null   bool
 23  hidden                   86 non-null     object
 24  permanent                1533 non-null   bool
 25  double_sided             1533 non-null   bool
 26  url                      1533 non-null   object
 27  subname                  291 non-null    object
 28  skill_willpower          472 non-null    float64
 29  skill_intellect          442 non-null    float64
 30  skill_combat             392 non-null    float64
 31  skill_agility            419 non-null    float64
 32  health                   247 non-null    float64
 33  sanity                   215 non-null    float64
 34  deck_requirements        78 non-null     object
 35  deck_options             79 non-null     object
 36  flavor                   530 non-null    object
 37  illustrator              1456 non-null   object
 38  back_text                78 non-null     object
 39  back_flavor              77 non-null     object
 40  octgn_id                 1290 non-null   object
 41  imagesrc                 1358 non-null   object
 42  backimagesrc             59 non-null     object
 43  duplicated_by            131 non-null    object
 44  alternated_by            8 non-null      object
 45  cost                     1061 non-null   float64
 46  errata_date              71 non-null     object
 47  skill_wild               251 non-null    float64
 48  slot                     518 non-null    object
 49  restrictions             175 non-null    object
 50  xp                       1122 non-null   float64
 51  tags                     65 non-null     object
 52  enemy_damage             24 non-null     float64
 53  enemy_horror             23 non-null     float64
 54  enemy_fight              27 non-null     float64
 55  enemy_evade              27 non-null     float64
 56  duplicate_of_code        139 non-null    object
 57  duplicate_of_name        139 non-null    object
 58  alternate_of_code        13 non-null     object
 59  alternate_of_name        13 non-null     object
 60  victory                  26 non-null     float64
 61  exile                    15 non-null     object
 62  linked_to_code           15 non-null     object
 63  linked_to_name           15 non-null     object
 64  linked_card              15 non-null     object
 65  spoiler                  7 non-null      float64
 66  faction2_code            47 non-null     object
 67  faction2_name            47 non-null     object
 68  bonded_cards             19 non-null     object
 69  bonded_to                16 non-null     object
 70  bonded_count             15 non-null     float64
 71  shroud                   2 non-null      float64
 72  clues                    2 non-null      float64
 73  faction3_code            5 non-null      object
 74  faction3_name            5 non-null      object
 75  customization_text       16 non-null     object
 76  customization_change     16 non-null     object
 77  customization_options    16 non-null     object
dtypes: bool(6), float64(19), int64(2), object(51)
memory usage: 871.4+ KB

In [14]:
# Request
card_codes = "Core"
_format = "json"

url = f"https://arkhamdb.com/api/public/cards/"
params = {'encounter': 1}

collection_response = requests.get(url, params=params).json()

In [15]:
df_with_encounters = pd.DataFrame(collection_response)

In [16]:
df_with_encounters

,pack_code,pack_name,type_code,type_name,subtype_code,subtype_name,faction_code,faction_name,position,exceptional,...,faction2_code,faction2_name,bonded_cards,bonded_to,bonded_count,faction3_code,faction3_name,customization_text,customization_change,customization_options
0,core,Core Set,treachery,Treachery,basicweakness,Basic Weakness,neutral,Neutral,1000,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,core,Core Set,investigator,Investigator,NaN,NaN,guardian,Guardian,1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,core,Core Set,investigator,Investigator,NaN,NaN,seeker,Seeker,2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,core,Core Set,investigator,Investigator,NaN,NaN,rogue,Rogue,3,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,core,Core Set,investigator,Investigator,NaN,NaN,mystic,Mystic,4,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4379,dre,Dark Revelations,asset,Asset,NaN,NaN,neutral,Neutral,20,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4380,dre,Dark Revelations,treachery,Treachery,weakness,Weakness,neutral,Neutral,21,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4381,promo,Promo,investigator,Investigator,NaN,NaN,mystic,Mystic,1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4382,promo,Promo,event,Event,NaN,NaN,neutral,Neutral,2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4383,promo,Promo,asset,Asset,weakness,Weakness,neutral,Neutral,3,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
filter_type = df_without_encounters['type_name'] == 'Investigator'

In [18]:
current_info = df_without_encounters[filter_type][filter_data]

current_info.columns = ['Investigator', 'Willpower', 'Intellect', 'Combat', 'Agility', 'Health', 'Sanity']

current_info.reset_index(inplace=True, drop=True)

In [19]:
current_info

       Investigator  Willpower  Intellect  Combat  Agility  Health  Sanity
0      Roland Banks        3.0        3.0     4.0      2.0     9.0     5.0
1      Daisy Walker        3.0        5.0     2.0      2.0     5.0     9.0
2   "Skids" O'Toole        2.0        3.0     3.0      4.0     8.0     6.0
3       Agnes Baker        5.0        2.0     2.0      3.0     6.0     8.0
4       Wendy Adams        4.0        3.0     1.0      4.0     7.0     7.0
..              ...        ...        ...     ...      ...     ...     ...
73     Carolyn Fern        3.0        4.0     2.0      2.0     6.0     9.0
74      Silas Marsh        2.0        2.0     4.0      4.0     9.0     5.0
75     Dexter Drake        5.0        2.0     3.0      2.0     6.0     8.0
76  Gloria Goldberg        5.0        4.0     2.0      1.0     5.0     9.0
77    Marie Lambeau        4.0        4.0     1.0      3.0     6.0     8.0

[78 rows x 7 columns]

In [20]:
current_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Investigator  78 non-null     object
 1   Willpower     78 non-null     float64
 2   Intellect     78 non-null     float64
 3   Combat        78 non-null     float64
 4   Agility       78 non-null     float64
 5   Health        78 non-null     float64
 6   Sanity        78 non-null     float64
dtypes: float64(6), object(1)
memory usage: 4.4+ KB

In [21]:
current_info.describe()

       Willpower  Intellect     Combat    Agility     Health     Sanity
count  78.000000  78.000000  78.000000  78.000000  78.000000  78.000000
mean    3.102564   2.961538   2.615385   2.679487   7.025641   6.974359
std     1.179806   1.121714   1.119262   1.098920   1.258471   1.268749
min     0.000000   0.000000   0.000000   0.000000   5.000000   5.000000
25%     2.000000   2.000000   2.000000   2.000000   6.000000   6.000000
50%     3.000000   3.000000   3.000000   3.000000   7.000000   7.000000
75%     4.000000   4.000000   3.000000   3.000000   8.000000   8.000000
max     5.000000   5.000000   5.000000   5.000000   9.000000   9.000000